$bp: (
    xs: 480px,
	sm: 576px,
	md: 768px,
	lg: 992px,
	xl: 1200px
);

@function breakpoint($break-level) {
	@return map-get($bp, $break-level);
}

$colorsArray: (
	grey: #ccc,
	black: #000,
	text-color: #333333,
	yellow: #FFE81F
);

@function colors($color) {
	@return map-get($colorsArray, $color);
}
