.c-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;

    .c-pagination {

        svg {
            height: 15px;
            width: auto;
            margin-top: 4px;
        }

    }

    span {
        margin-right: 10px;
        color: #DDDDDD;
    }
    
    button {
        padding: 10px 15px;
        border: 1px solid #DDDDDD;
        border-radius: 3px 0 0 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        outline: none;
        cursor: pointer;

        &:disabled {
            cursor: not-allowed;

            &:hover {
                background-color: white;
            }

        }

        &:hover {
            background-color: lighten(#DDDDDD, 10%);
        }

        &:nth-child(odd) {
            border-radius: 0 3px 3px 0;
        }

    }

}
