.v-home {

    ul {
        height: 20px;
        width: 100%;
        margin-top: 30px;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            height: 10px;
            width: 10px;
            border-radius: 50%;
            border: 1px solid black;
            margin: 0 5px;
            cursor: pointer;

            &.is--active {
                border: none;
                background-color: black;
            }

        }

    }

    &__viewmore {
        margin-top: 30px;
        display: flex;
        justify-content: center;
        width: 100%;

        a {
            padding: 10px 0;
            background: transparent;
            border-radius: 3px;
            border: 1px solid black;
            min-width: 250px;
            width: 100%;
            text-transform: uppercase;
            text-decoration: none;
            color: black;
            text-align: center;
            cursor: pointer;

            &:hover {
                background-color: lighten(#DDDDDD, 10%);
            }

            @media only screen and (min-width: breakpoint(xs)) {
                width: 300px;
            }

            @media only screen and (min-width: breakpoint(lg)) {
                width: 400px;
            }

        }
    }

}