// Starship card
.c-card--starship {
    min-width: 300px;
    margin: 50px 5px 0;

    &:hover {

        img {
            transform: scale(1.1);
        }
        
    }

    .c-card {

        &__img-container {
            width: 100%;
            z-index: 1;
            position: relative;
            border-radius: 3px 3px 0px 0px;
            min-height: 250px;
            overflow: hidden;
    
            @media only screen and (min-width: breakpoint(xs)) {
                min-height: 300px;
            }
    
            @media only screen and (min-width: breakpoint(sm)) {
                min-height: 350px;
            }
    
            @media only screen and (min-width: breakpoint(md)) {
                min-height: 230px;
            }
    
            @media only screen and (min-width: breakpoint(lg)) {
                min-height: 200px;
            }
    
            @media only screen and (min-width: breakpoint(xl)) {
                min-height: 250px;
            }

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
            }
    
        }

        &__content {
            margin-left: 10px;
            margin-right: -10px;
            border-radius: 0px 3px 3px 3px;
    
            &__bg {
                height: 100%;
                width: 100%;
                background-color: lighten(colors(yellow), 20%);
                position: relative;
                padding-bottom: 10px;
                border-radius: 0px 0px 3px 3px;
                z-index: 1;
            }
    
        }

    }

}
